@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@700&family=Ubuntu+Mono:ital@1&family=Vidaloka&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

:root {
    --primary-color: #012025;
    --backgroud-color: #051417;

}

body {
    background-color: var(--primary-color);
    height: 100vh;
    background-image: url(./Imagens/image\ 8\ \(6\).png);
    display: flex;
    flex-direction: column;
}

.cabecalho {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--backgroud-color);
    gap: 50px;
    
}

.lista-cabecalho {
    display: flex;
    font-family: 'Ubuntu Mono', monospace;
    font-style: normal;
    font-size: 1.3vw;
    font-weight: 700;
    color: red;
    gap: 20%;
    text-decoration: none;
}

.logo-multi {
    width: 14vw;
    height: 4vw;
    padding: 10px;
}

.logo-pequena {
    display: none;
}

main {

    flex: 1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.div-titulo {
    position: relative;
    grid-column: 3/9;
    text-align: center;
    
}


.itens {
    font-family: 'Ubuntu Mono', monospace;
    background: linear-gradient(180deg, #689967 0%, rgba(180, 235, 179, 0.42) 65.11%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 35px;
    font-weight: 488;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.descricao-dois {
    position: relative;
}

.lista {
    display: flex;
    flex-direction: column;
    font-family: 'Akshar', sans-serif;
    background: linear-gradient(180deg, #045749 0%, rgba(47, 167, 127, 0.42) 65.11%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 21px;
    font-weight: 488;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.titulo {
    width: 40%;
    height: 25%;
}

.descricao {
    font-family: 'Vidaloka', serif;
    text-align: center;
    background: linear-gradient(180deg, #188916 0%, rgba(39, 175, 36, 0.42) 65.11%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 1.4rem;
    font-weight: 488;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.loki {
    position: absolute;
    top: 68%;
    left: 90%;
    transform: translate( -80%, -80%);
    border-radius: 15px;
}

footer {
    text-align: center;
    padding-bottom: 10px;
    background-color: var(--backgroud-color);
}

footer h2 {
    color: #4E6468;
    font-size: 20px;
}

@media (max-width: 640px) {
    .logo-multi {
       display: none;
    }

    .logo-pequena {
        display: block;
        position: relative;
        height: 10vw;
        width: 20vw;
        left: -85%;

    }

    .lista-cabecalho {
        display: none;
    }

    .descricao-dois {
        display: none;
    }

    .loki {
        border-radius: 0px;
        width: 80vw;
        height: 120vw;
        transform: translate( -100%, -90%);
        z-index: -1;
    }

    .titulo {
        width: 70vw;
        height: 40vw;
        transform: translate( 4%, 300%);
    }

    .descricao {
        font-size: 1.2rem;
        width: 80vw;
        height: 70vw;
        transform: translate( -7%, 168%);
    }

    .itens {
        display: none;
    }

    footer {
        display: none;
    }
}